@import "tailwindcss";

@font-face {
  font-family: "Gothic";
  src: url("./fonts/Gothic/ZenKakuGothicNew-Medium.ttf") format("truetype");
  font-style: normal;
}

.gothic-regular{
  font-family: "Gothic", "sans-serif";
}